<div class="footer bg-body-tertiary">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-4 my-4">
      <div class="col mb-2 align-self-center">
        <p class="text-body-secondary">&copy; 2024 Arriendos</p>
      </div>

      <div class="col mb-2"></div>

      <div class="col mb-2">
        <h5>Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1">
            <a href="#" class="nav-link p-0 text-body-secondary">Inicio</a>
          </li>
          <li class="nav-item mb-1">
            <a href="#" class="nav-link p-0 text-body-secondary">Características</a>
          </li>
          <li class="nav-item mb-1">
            <a href="#" class="nav-link p-0 text-body-secondary">Precios</a>
          </li>
        </ul>
      </div>

      <div class="col mb-2">
        <h5>Legal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1">
            <a href="#" class="nav-link p-0 text-body-secondary">Términos</a>
          </li>
          <li class="nav-item mb-1">
            <a href="#" class="nav-link p-0 text-body-secondary">Privacidad</a>
          </li>
        </ul>
      </div>

      <div class="col mb-2">
        <h5>Síguenos</h5>
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link p-0 text-body-secondary">
              <i class="fab fa-facebook"></i> Facebook
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0 text-body-secondary">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0 text-body-secondary">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <div class="text-center pb-2">
      <p class="fw-lighter">Desarrollado por Nicole Solano</p>
    </div>
  </div>
</div>
