{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-3 custom-navbar">
    <div class="container d-flex flex-wrap align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img class="img-logo me-2" src="{% static 'img/logo.jpg' %}" alt="Logo arriendos" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-semibold" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-semibold" href="#">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-semibold" href="{% url 'profile' %}">Mis Datos</a>
                    </li>
                    {% if user.userprofile.rol == 'arrendador' or user.is_staff %}
                    <li class="nav-item ms-2">
                        <a href="{% url 'add_propiedad' %}" class="btn btn-outline-success fw-semibold rounded-pill">Agregar Propiedad</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary fw-semibold rounded-pill me-2" type="submit">Cerrar Sesión</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary fw-semibold rounded-pill me-2">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="btn btn-primary fw-semibold rounded-pill ">Regístrate</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
